<form class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="query">
	</div>
	<button class="btn btn-primary" ng-click="search()">Search</button>
	<button class="btn btn-default" ng-click="clear(false)">Clear</button>
</form>
<h1 ng-show="words.length">
	Searched Words
</h1>
<table class="table" ng-show="words.length">
	<tr>
		<th>
			Level
		</th>
		<th class="hidden-xs">
			Index
		</th>
		<th>
			<span class="hidden-xs">Streak</span>
		</th>
		<th>
			Word
		</th>
		<th>
			<span class="hidden-xs">Yomigana</span>
		</th>
		<th>
			Meaning
		</th>
		<th>
		</th>
	</tr>
	<tr ng-repeat-start="word in words" ng-hide="word.inEdit">
		<td>
			{{word.Level}}
		</td>
		<td class="hidden-xs">
			{{word.index}}
		</td>
		<td>
			<span class="label label-default" ng-show="word.learned" ng-class="{'label-danger': word.minus, 'label-success': word.done}">{{word.streak}}</span>
		</td>
		<td>
			<span ng-hide="word.inEdit">{{word.word}}</span>
		</td>
		<td>
			<span ng-hide="word.inEdit">{{word.yomigana}}</span>
		</td>
		<td>
			<span ng-hide="word.inEdit">{{word.meaning}}</span>
		</td>
		<td>
			<span class="label label-success" ng-click="beginEdit(word)">edit</span>
		</td>
	</tr>
	<tr ng-repeat-end ng-show="word.inEdit">
		<td colspan="7">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-1 control-label">{{word.Level}}</label>
					<label class="col-sm-1 control-label">{{word.index}}</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" ng-model="word.word" placeholder="word">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" ng-model="word.yomigana" placeholder="yomigana">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" ng-model="word.meaning" placeholder="meaning">
					</div>
					<div class="col-sm-1">
						<button class="btn btn-default" ng-click="commit(word)">Commit</button>
					</div>
				</div>
			</form>
		</td>
	</tr>
</table>
