<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed" ng-show="langMetas.length">
			<tr>
				<td ng-repeat="lang in langMetas">
					<h1 class="text-center"><a href="#/add/{{lang.lang}}">+{{lang.lang}}</a></h1>
					<h3 ng-click="selectLang(lang.lang)">
						<small>{{lang.lang | fullLanguage}}</small> {{lang.total - lang.learned}}<small>/{{lang.total}}</small>
					</h3>
					<h4 class="text-center" ng-show="lang.newWordCount">
						{{lang.newWordCount}} <small>new</small>
					</h4>
				</td>
			</tr>
		</table>
		<div class="text-center show-mobile">
			<a href="#/meta">Day by Day</a>
		</div>
	</div>
</div>
