<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed" ng-show="langMetas.length">
			<tr>
				<td ng-repeat="lang in langMetas" ng-click="selectLang(lang.lang)">
					<h3><small>{{lang.lang | fullLanguage}}</small> {{lang.total - lang.learned}}<small>/{{lang.total}}</small></h3>
				</td>
			</tr>
		</table>
	</div>
	<h1 class="col-md-8 col-md-offset-2" ng-show="newWordCount">
		{{newWordCount}} <small>new word<span ng-show="newWordCount > 1">s</span></small>
	</h1>
	<h2 class="col-md-8 col-md-offset-2" ng-show="selectedLevel || selectedLang">
		<span ng-show="selectedLevel">{{selectedLevel}}</span>
		<span ng-show="selectedLang">{{selectedLang | fullLanguage}}</span>
	</h2>
	<div class="col-md-8 col-md-offset-2">
		<table class="table table-bordered table-condensed Meta-table" ng-show="meta.length">
			<tr ng-repeat="level in levels | filter: filter | orderBy: '-name'" class="text-right" ng-show="level.total - level.learned">
				<td class="hidden-xs">
					{{level.name}}
				</td>
				<td class="inverted" ng-click="selectLevel(level.name)">
					{{getSelectedSumUH(level)}}
				</td>
				<td ng-repeat="streak in level.streaks track by $index"
						style="{{getUpperColor(level, getFilteredStreak(level, $index))}}">
					{{getFilteredStreak(level, $index) | hideZero}}
				</td>
			</tr>
			<tr class="inverted text-right">
				<td class="hidden-xs">
					<span ng-hide="selectedDay">Test day</span>
					<span ng-show="selectedDay">{{selectedDay.date | date : 'EEE, MMM dd'}}</span>
				</td>
				<td ng-click="clearSelected()">
					<span ng-hide="selectedDay">Sum</span>
					<span ng-show="selectedDay">{{getSelectedSumLH(selectedDay)}}</span>
				</td>
				<td ng-repeat="streak in streaks track by $index">
					{{getSelectedSumV($index)}}
				</td>
			</tr>
			<tr ng-repeat="day in meta" ng-show="day.sum && (selectedDay === null)" class="text-right">
				<td class="hidden-xs">
					{{day.date | date : 'EEE, MMM dd'}}
				</td>
				<td class="inverted" ng-click="selectDay(day)">
					{{getSelectedSumLH(day)}}
				</td>
				<td ng-repeat="streak in day.streaks track by $index">
					<span ng-show="selectedLevel">{{streak.levels[selectedLevel] | hideZero}}</span>
					<span ng-show="selectedLang">{{streak.langs[selectedLang] | hideZero}}</span>
					<span ng-hide="selectedLevel || selectedLang">{{streak.sum | hideZero}}</span>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-12 hidden-xs">
		<table class="table table-condensed" ng-show="levels.length">
			<tr ng-repeat="lang in langs">
				<td ng-repeat="level in lang.levels" ng-click="selectLevel(level.name)">
					<h3>
						<small>{{level.name}}</small>
						<span ng-show="level.total != level.learned">{{level.total - level.learned}}<small>/{{level.total}}</small></span>
						<span ng-hide="level.total != level.learned"><small>{{level.total}}</small></span>
					</h3>
				</td>
			</tr>
		</table>
	</div>
</div>
