<nav class="navbar navbar-default">
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#/">Tango</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a href="#/search">Search</a></li>
			<li><a href="#/level/new">New Words</a></li>
			<li><a href="#/meta">Day by Day</a></li>
			<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Levels <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li ng-repeat="level in levels">
					<a href="#/level/{{level}}">{{level | uppercase}}</a>
				</li>
			</ul>
			</li>
			<li><a href="/" onclick="javascript:event.target.port=3000">🏠</a></li>
		</ul>
	</div>
</div>
</nav>

