<form class="form-inline">
	<div class="form-group">
		<input type="text" class="form-control" ng-model="query">
	</div>
	<button class="btn btn-primary" ng-click="search()">Search</button>
</form>
<h1 ng-show="words.length">
	Searched Words
</h1>
<table class="table" ng-show="words.length">
	<tr>
		<th>
			Level
		</th>
		<th>
			Index
		</th>
		<th>
			Streak
		</th>
		<th>
			Word
		</th>
		<th>
			Yomigana
		</th>
		<th>
			Meaning
		</th>
		<th>
		</th>
	</tr>
	<tr ng-repeat="word in words">
		<td>
			{{word.Level}}
		</td>
		<td>
			{{word.index}}
		</td>
		<td>
			<span class="label label-default" ng-show="word.learned" ng-class="{'label-danger': word.minus, 'label-success': word.done}">{{word.streak}}</span>
		</td>
		<td>
			<span ng-hide="word.inEdit">{{word.word}}</span>
			<input class="form-control" ng-model="word.word" ng-show="word.inEdit" />
		</td>
		<td>
			<span ng-hide="word.inEdit">{{word.yomigana}}</span>
			<input class="form-control" ng-model="word.yomigana" ng-show="word.inEdit" />
		</td>
		<td>
			<span ng-hide="word.inEdit">{{word.meaning}}</span>
			<input class="form-control" ng-model="word.meaning" ng-show="word.inEdit" />
		</td>
		<td>
			<span class="label label-success" ng-click="beginEdit(word)" ng-hide="word.inEdit">edit</span>
			<span class="label label-default" ng-click="cancel(word)" ng-show="word.inEdit">cancel</span>
			<br ng-show="word.inEdit"/>
			<span class="label label-danger" ng-click="commit(word)" ng-show="word.inEdit">commit</span>
		</td>
	</tr>
</table>
