<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-bordered" ng-show="meta.length">
			<tr>
				<th class="text-right">
					Test day
				</th>
				<th class="text-right">
					Sum
				</th>
				<th class="text-right" ng-repeat="streak in streaks">
					{{streak}}
				</th>
			</tr>
			<tr ng-repeat="day in meta">
				<td class="text-right">
					{{day.date | date : 'EEE, MMM dd'}}
				</td>
				<td class="text-right">
					<b>{{day.sum}}</b>
				</td>
				<td class="text-right" ng-repeat="streak in day.streaks track by $index">
					<span ng-show="streak">{{streak}}</span>
				</td>
			</tr>
		</table>
	</div>
</div>
<ul class="nav nav-tabs">
	<li role="presentation" ng-repeat="level in levels"	ng-click="getLevel(level)" ng-class="{active: selectedLevel === level}">
		<a>{{level | uppercase}}</a>
	</li>
</ul>
<table class="table" ng-show="words.length">
	<tr>
		<th ng-show="selectedLevel === 'all'">
			Level
		</th>
		<th>
			Index
		</th>
		<th>
			<span ng-click="changeOrderBy()">Streak</span>
		</th>
		<th>
			Word
		</th>
		<th>
			Yomigana
		</th>
		<th>
			Meaning
		</th>
		<th>
		</th>
	</tr>
	<tr ng-repeat="word in words | orderBy: orderBy">
		<td ng-show="selectedLevel === 'all'">
			{{word.Level}}
		</td>
		<td>
			{{$index + 1}}
		</td>
		<td>
			<span class="label label-default" ng-show="word.learned" ng-class="{'label-danger': word.minus, 'label-success': word.done}">{{word.streak}}</span>
		</td>
		<td>
			{{word.word}}
		</td>
		<td>
			<span ng-hide="word.inEdit">{{word.yomigana}}</span>
			<input class="form-control" ng-model="word.yomigana" ng-show="word.inEdit" />
		</td>
		<td>
			<span ng-hide="word.inEdit">{{word.meaning}}</span>
			<input class="form-control" ng-model="word.meaning" ng-show="word.inEdit" />
		</td>
		<td>
			<span class="label label-success" ng-click="beginEdit(word)" ng-hide="word.inEdit">edit</span>
			<span class="label label-default" ng-click="cancel(word)" ng-show="word.inEdit">cancel</span>
			<br ng-show="word.inEdit"/>
			<span class="label label-danger" ng-click="commit(word)" ng-show="word.inEdit">commit</span>
		</td>
	</tr>
</table>
