body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

.inverted {
  color: #fff;
  background-color: #333;
}

.show-mobile {
  display: none;
}

@media screen and (max-width: 543px) {
  .Meta-table {
    font-size: smaller;
  }

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: inline;
  }
}
