body {
	font-family: 'Noto Sans', 'Noto Sans CJK KR', 'Noto Sans JP',	나눔고딕, sans-serif;
}

.inverted {
	color: #fff;
	background-color: #333;
}

@media screen and (max-width: 543px) {
	.Meta-table {
		font-size: smaller;
	}
}
